/* Write your CSS here */

.loader {
  text-align: center;
  margin-top: 50px;
}

.team-matches-main-container {
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 3% 2%;
  font-family: 'Bree Serif';
}

@media screen and (min-width: 768px) {
  .team-matches-main-container {
    padding: 4% 5%;
  }
}

.team-banner {
  width: 100%;
}

.latest-matches-para {
  color: red;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}
